@use "sass:map";

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 map.get($grid-column-gutter, small);
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-header {
	margin: 0 0 map.get($grid-column-gutter, small);
}

.page-content,
.entry-content,
.entry-summary {
	margin: map.get($grid-column-gutter, small) 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 map.get($grid-column-gutter, small);
}

.site-main {
	background: $white;
}

.base-theme-pagination {
	text-align: center;
}

.cat-links,
.comments-link {
	border-right: 1px solid $silver;
	margin-right: 5px;
	padding-right: 5px;
}

.moretag {
	margin-left: 5px;
}
